@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WearHouse.Models.Weather

@{
    ViewData["Title"] = "Home Page";

    var data = ViewBag.Data;
    var num = 2;
}

@section Head {
    <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="wrapper">
                    <div class="login">
                        <div class="dashb_head">
                            <div class="dashb_head_text">Dashboard</div>
                        </div>
                    <div class="input_login">
                        You are logged in!
                    </div>
                <div class="weather-container">
                    <h4>@data[0].CityName, @data[0].Country</h4>
                    <div class="date_info">
                        <h4 id="current_date"></h4>
                        <h3 id="current_time"></h3>
                    </div>
                    <h2>@data[0].Temp °C</h2>
                    <img class="weather-icon" src="@data[0].Wicon" alt="">
                    <h4>@data[0].Description</h4>
                </div>

                    </div>
        </div>
       </div>

}
else
{
            <div class="login">
                <div class="dashb_head">
                    <div class="dashb_head_text">WearHouse</div>
                </div>
                <div class="input_login">
                    Welcome!
                </div>

    </div>

}
<script>
    let date = document.getElementById("current_date");
    let time = document.getElementById("current_time");
    let d = new Date();
    date.innerHTML = d.toLocaleDateString();

    setInterval(() =>{
        let d = new Date();
        time.innerHTML = d.toLocaleTimeString();
    },1000)





</script>